[submodule "Assets/ThirdParty/Free"]
	path = Assets/ThirdParty/Free
	url = https://github.com/cpvrlab/VirtualTable-ThirdPartyFree.git
[submodule "Assets/ThirdParty/Payed"]
	path = Assets/ThirdParty/Payed
	url = https://github.com/wacki/VirtualTable-ThirdPartyPayed.git
