[submodule "Assets/ThirdParty/Free"]
	path = Assets/ThirdParty/Free
	url = https://github.com/cpvrlab/VirtualTable-ThirdPartyFree.git
[submodule "Assets/ThirdParty/Payed"]
	path = Assets/ThirdParty/Payed
	url = ssh://git@pm.ti.bfh.ch/thirdpartypayed.git
[submodule "Assets/VirtualTableLevels"]
	path = Assets/VirtualTableLevels
	url = https://github.com/cpvrlab/VirtualTable-LevelData.git
